<h1>{{event.title}}</h1>
<p>
  Lunchdate at <time>{{event.time}}</time>
  .
</p>

Audience:
<ul class="user-list">
  {{#each event.users}}
  <li class="{{status}}">
    <img src="{{image}}"/>

    <p>{{name}}<span>{{screen_name}}</span></p>
  </li>
  {{/each}}
</ul>
<script src="/js/join.js"></script>

