{{#if msg}}
<p>{{msg}}</p>
{{/if}}

<p>{{event.owner.name}} (<a target="_blank" href="http://twitter.com/{{event.owner.screen_name}}">@{{event.owner.screen_name}}</a>) invites to {{event.title}} at {{event.time}}</p>

Audience:
<ul class="user-list">
  {{#each event.users}}
  <li class="{{status}} row">
    <div><img src="{{image}}"/></div>
    <p class="content"><span>{{name}}</span>@{{screen_name}}</p>
  </li>
  {{/each}}
</ul>
<script src="/js/join.js"></script>

