{{#if msg}}
<h2>{{msg}}</h2>
{{/if}}

<h1>{{event.title}}</h1>
<p>
  Lunchdate at <time>{{event.time}}</time>
  .
</p>

Audience:
<ul class="user-list">
  {{#each event.users}}
  <li class="{{status}}">
    <div></div><img src="{{image}}"/></div>
    <p>{{name}}<span>{{screen_name}}</span></p>
  </li>
  {{/each}}
</ul>
<script src="/js/join.js"></script>
